a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

main {
	padding: 30px 50px;
	display: grid;
	gap: 2rem;
}

h1 {
	font-size: 2.8rem;
	font-weight: 500;
	overflow-wrap: anywhere;
}

section {
	display: grid;
	gap: 1.5rem;
}

section header {
	font-size: 1.15rem;
	display: grid;
	gap: 1.25rem;
}

.click_me {
	transition: transform 0.1s;
	cursor: pointer;
}
.click_me:hover {
	text-decoration: none;
	transform: scale(1.1);
}

.cards-content {
	container-type: normal;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(310px), 1fr));
	justify-content: center;
	gap: 26px;
}

@font-face {
	font-family: "Montserrat";
	src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
