<div class="footer_links">
	<a href="/#Productos">Productos</a>
	<a href="/#Blog">Blogs</a>
	<a href="/#Sobre-Nosotros">Sobre Nosotros</a>
</div>

<style>
	.footer_links {
		display: flex;
		justify-content: center;
		gap: 40px;
		flex-direction: column;
		text-align: center;
	}

	@media (min-width: 600px) {
		.footer_links {
			flex-direction: row;
		}
	}
</style>
